@import "tailwindcss";
@keyframes mouse-scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

.animate-mouse {
  animation: mouse-scroll 1.3s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}

html {
  scroll-behavior: smooth;
}
